#fs{
    /*border:1px salmon solid;*/
}
#fs-xa{
    height:85px;
    width:100%;
    margin:auto;
    background-color:blue;
    /*float:left;*/
    bordre:0px;
    margin:0px;
    margin:auto;
}
#fs-xac{
    width:200px;
    margin:auto;
    /*border:1px salmon solid;*/
    color:white;
    display:flex;
    align-items:center;
    font-size:25px;
}
#fs-xaa{
    float:left;
    position:relative;
    top:-20px;
    left:5px;
}
#fs-xab{
    float:right;
    position:relative;
    top:-28px;
    left:-15px;
}
#fs-xad{
    padding-left: 30px;
    color:white;
    float:left;
    bordre:0px;
    margin:0px;
}
#fs-xag{
    padding-right: 10px;
    color:white;
    float:right;
    bordre:0px;
    margin:0px;
}
#fs-xb{
    margin-top: 15px;
    width:100%;
    height: 35px;
    /*border:1px black solid;*/
}
#fs-xc{
    position: relative;
    margin:auto;
    width:300px;
    height:20px;
    /*margin-left:35%;*/
    /*margin-right: 35%;*/
    top:-35px;
}
#fs-xca{
    width:300px;
    height:20px;
}
#fs-xcb{
    position: relative;
    float:right;
    right:15px;
    top:-20px;
}
/**/
.fs-xe{
    width:100%;
    height: 60px;
    background-color: gray;
    border:1px salmon solid;
    position: absolute;

}
.fs-xd{
    width:50%;
    height:30px;
    /*border:1px salmon solid;*/
    margin:auto;
    margin-top:15px;
    position: relative;
}
.fs-xda{
    color:white;
    margin-top: 3px;
    float: left;
    margin-left: 35px;
}
.fs-xdb{
    color:white;
    margin-top: 3px;
    float: right;
    margin-right: 35px;
}
.fs-xdc{
    width:50%;
    height: 10px;
    position: absolute;
    margin: auto;
    margin-left:-10px;
    margin-top: 10px;
}
.fs-xf{
    float: left;
    width:80px;
    height: 40px;
    /*border:1px salmon solid;*/
    color:white;
    margin-top:-40px;
}
/**/
.fs-xg{
    margin-top: 50px;
    width:100%;
    height: 60px;
    background-color: darkslategrey;
    border:1px salmon solid;
    position: relative;

}