#fs{

    border:1px salmon solid;
}
#fs-deng{
    height:25px;
    width:100%;
    margin:auto;
    background-color:blue;
    float:left;
    margin:0px;
    margin:auto;
}
#fs-deng a{
    width:35px;
    margin:auto;
    border:1px salmon solid;
    color:white;
    display:flex;
    align-items:center;
}
/*商标*/
#fs-xa{
    width:100px;
    height:150px;
    border:1px salmon solid;
    margin:auto;
    margin:auto;
    display:flex;
    align-items:center;
    margin-top:40px;
}
#fs-xaa{
    margin:auto;
    display:flex;
    align-items:center;
}
#fs-xab{
    position:relative;
    float:left;
    top:50px;
    right:2px;
    /*margin:auto;*/
    /*display:flex;*/
    /*align-items:center;*/
}