#body{
    margin:0px;
}
#fs{
    /*border:1px salmon solid;*/
}
#fs-deng{
    height:25px;
    width:100%;
    margin:auto;
    background-color:blue;
    float:left;
    bordre:0px;
    margin:0px;
    margin:auto;
}
#fs-deng a{
    width:35px;
    margin:auto;
    /*border:1px salmon solid;*/
    color:white;
    display:flex;
    align-items:center;
}
/*商标*/
#fs-xa{
    width:136px;
    height:150px;
    /*border:1px salmon solid;*/
    margin:auto;
    display:flex;
    align-items:center;
    margin-top:40px;
}
#fs-xaa{
    margin:auto;
    display:flex;
    align-items:center;
}

#fs-xb{
    width:100px;
    height:50px;
    /*border:1px salmon solid;*/
    margin:auto;
    display:flex;
    align-items:center;
    margin-top:30px;
}
#fs-xba{
    position:relative;
    margin:auto;
    display:flex;
    align-items:center;
}
/**/
#fs-xc{
    height:40px;
    width:250px;
    /*border:1px salmon solid;*/
    margin:auto;
    /*margin-top:50px;*/
    display:flex;
    align-items:center;
    margin-top:30px;

}
#fs-xc input{
    height:25px;
    width:210px;
    /*border:2px #E2231A solid;*/
    padding-left:15px;
}
#fs-xca{
    float:right;
    position:relative;
    left:-25px;
    top:5px;
}
#fs-xd{
    height:40px;
    width:250px;
    /*border:1px salmon solid;*/
    margin:auto;
    /*margin-top:50px;*/
    display:flex;
    align-items:center;
    margin-top:20px;

}
#fs-xd input{
    height:25px;
    width:210px;
    /*border:2px #E2231A solid;*/
    padding-left:15px;
}
#fs-xda{
    float:right;
    position:relative;
    left:-25px;
    top:5px;
}
/*按钮*/
#fs-xc button{
    margin:auto;
    background-color:blue;
    color:white;
    height:40px;
    width:200px;
}
#fs-xd button{
    margin:auto;
    width:200px;
    height:40px;
}
/**/
#fs-xe{

    height:40px;
    width:100px;
    margin:auto;
    display:flex;
    align-items:center;
    margin-top:20px;
    /*border:1px salmon solid;*/
    text-decoration-line: underline;

}


