a{
    text-decoration:none;
}
body{
    margin:0px;
    border:0px;
}
div{
    margin:0px;
    border:0px;
}

.fs-xy{
    background-color: cadetblue;
    position: absolute;
    bottom:0 ;
    float: right;
    height: 50px;
    width: 100%;
    border:1px black solid;
}
.fs-xya{
    float: left;
    /*margin-left: 8%;*/
    margin-left: 12%;
}
.fs-xya a{
    position: absolute;
    margin-top: 30px;
    margin-left: -28px;
    font-size: 12px;
}

