body{
   background-image: url("");
}



#fs{
    width:100%;
    height:100px;
    /*background-color: red;*/
    border:1px black solid;

}
#fs-za{
    position: relative;
    margin:auto;
    display: flex;
    justify-content: space-between ;
    margin-top:0px;
    border:1px black solid;
}
#fs-zb{
    width:100%;
    position: absolute;
}
#fs-xa{
    width:100%;
    position: relative;
    /*float:left;*/
    /*padding-left: 50px;*/
    /*padding-right: 50px;;*/
    margin:auto;
    display:flex;
    align-items:center;
    top:-115px;
}
#fs input{
    float:left;
    height:30px;
    width:344px;
    border-color: gray;
}
.fs-xab{
    float:left;
    position: relative;
    right:31px;
}
<!--购票-->
.fs-xb{

    margin:auto;
    display:flex;
    align-content:center;
    float:right;
    position: relative;
    width:200px;
    height:200px;
    border:5px black solid;
    background-color: red;
}
